<h1> events </h1>

<% events.map( (one) => { %>


	<a href="/delete/<%= one.id %>"> delete event </a>

	<a href="/edit/<%= one.id %>"> edit event </a>


	<p> <%= one.name %> </p>
	<p> <%= one.description %> </p>
	<p> <%= one.price %> </p>
	<hr>
<% }); %>